body {
    background-color: #e1c699;
    color: #000000;
    font-family: 'trebuchet MS', 'Comic sans MS';
}
.pic {
    height:200px;
}
a {
    color: #2c2f33;
}
a :visited {
    color: #23272a;
}
